_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.vscode
.history
.DS_Store
.DS_Store
junior_coders/teacher_notes/upstream.code-workspace
junior_coders/monday_pm/images/SnapNDrag Library.snapndraglibrary