p {
    color: rgb(89, 105, 131);
    font-size: 20px;
    font-family: 'open Sans';
    font-weight: 300;
    text-align: justify;
  }
  <div class="main">
  <div class="container">
      <div id="futur">
          <h2>futur</h2>
           <p> 
               Les classe évoluent bien. Les élève étudiés bien
           </p>
          <p>
               Les classe seront en simple niveau 
          </p>
          <p> 
               Le CNED sera enlevé et donc les cours seront direct 
        
</div>